.favorite{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height:400px;
}
input[type=radio] {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1A1B1C;
    height: 15px;
    width: 15px;
  }
