.team{
    width: 100%;
}
.team-header{
    display:flex;
    justify-content:space-between;
    padding: 32px;
}
.header-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.body{
    height: 435px;
}
.dataBody{
    width: 150px; height: 100px;
}
.favoriteBody{
    width: 400px; height: 200px;
}
.summaryBody{
    width: 150px; height: 100px;
}
.header{
    position: relative;
    background-color: #fff;
    height: 40px;
    overflow: hidden;
}
.footer{
    display:flex;
    padding: 15px;
    gap: 10px;
    justify-content: flex-end;
    margin-top: auto;
}

.stepper-1-start{
    width: 32%;
    position: absolute;
    background-color: #F8F8F8;
    color: #1A1B1C;
    left: 0px;
    height: 40px;
    line-height: 40px;
    display: inline-block
    }
.stepper-2-start-end{
    width: 32%;
    position: absolute;
    background-color: #F8F8F8;
    color: #1A1B1C;
    left: 34%;
    height: 40px;
    line-height: 40px;
    display: inline-block 
}
.stepper-3-end{
    width: 32%;
    position: absolute;
    background-color: #F8F8F8;
    color: #1A1B1C;
    right:0;
    height: 40px;
    line-height: 40px;
    display: inline-block
    }
.active{
    background-color: #1371FE;
    color:white;
}
.error{
    background-color: #EA1212;
    color:white;
}
.header i{
    /* upload */

width: 14px;
height: 16px;

font-style: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */

color: #1A1B1C;

}
.header .active i{
    color: #fff;
}
.header .error i{
    color: #fff;
}

.arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: transparent transparent transparent #F8F8F8;
    display: inline-block;
    right: -10px;
    position: absolute;
}
.error .arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: transparent transparent transparent #EA1212;
    display: inline-block;
    right: -10px;
    position: absolute;
}
.active .arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: transparent transparent transparent #1371FE;
    display: inline-block;
    right: -10px;
    position: absolute;
}
.error .arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: transparent transparent transparent #EA1212;
    display: inline-block;
    right: -10px;
    position: absolute;
}
.arrow-2-start{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: #F8F8F8 #F8F8F8 #F8F8F8 transparent;
    display: inline-block;
    left: -10px;
    position: absolute;
}
.active .arrow-2-start{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: #1371FE #1371FE #1371FE transparent;
    display: inline-block;
    left: -10px;
    position: absolute;
}
.arrow-2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: transparent transparent transparent #F8F8F8;
    display: inline-block;
    right: -10px;
    position: absolute;
}
.active .arrow-2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: transparent transparent transparent #1371FE;
    display: inline-block;
    right: -10px;
    position: absolute;
}
.arrow-3-start{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: #F8F8F8 #F8F8F8 #F8F8F8 transparent;
    display: inline-block;
    left: -10px;
    position: absolute;
}
.active .arrow-3-start{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    border-color: #1371FE #1371FE #1371FE transparent;
    display: inline-block;
    left: -10px;
    position: absolute;
}
